/* JigglyCursor.module.css */
.container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ec4e39;
  border-radius: 50%;
  transform-origin: center;
  transition: transform 0.2s ease-out;
}

.jiggly {
  animation: jigglyAnimation 0.1s infinite alternate;
}

@keyframes jigglyAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.playButton {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
